.login-container {
    height: 100vh;
    background-image: url('../../assets/images/tarts.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
}

.login-container::before {
    content: "";
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background: rgba(0, 0, 0, 0.5);
}

.login-container .title-img {
    width: 70px;
    margin: 0px 20px;
}

.login-container-element {
    width: 500px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    gap: 80px;
    z-index: 1;
}

.login-form-container {
    width: 500px;
    z-index: 1;
}